<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <remove fileExtension=".pde"/>
      <mimeMap fileExtension=".pde" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>